node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.env.*.example
.DS_Store
.next
dist
build
.idea
.vscode
*.swp
*.swo
*~
.turbo
coverage
.nyc_output
.eslintcache
.turbodir
.vercel
out
