# .env.example
NEXT_PUBLIC_SUPABASE_URL=your_project_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
RESEND_API_KEY=re_your_secret_token_here
ADMIN_NOTIFICATION_EMAIL=your_personal_receiving_inbox@gmail.com
SUPABASE_WEBHOOK_SECRET=add_secret_token_here